<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="diagnostic" version="1.0" date="2025-09-22" compatibility="2.3.0" installRequired="true">
  <author name="Norberto" email="norberto@inovahouse.pt" />
  <summary>Diagnóstico de plugins</summary>
  <description>Escanea y muestra el estado técnico de los plugins instalados</description>
  <category>tools</category>
  <adminLinks>
    <link url="admin_config.php" description="Diagnóstico" icon="images/icon_32.png" iconSmall="images/icon_16.png" primary="true" />
  </adminLinks>
</e107Plugin>


